.loginPage {
  position: relative;
}

.loginPage .loginBox {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.loginPage .loginBox h1 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #fff;
}

.loginPage .loginBox p {
  text-align: center;
  margin: 20px 0;
}

.loginPage .loginBox .title {
  margin-bottom: 40px;
  position: relative;
}

.loginPage .loginBox .title:before, .loginPage .loginBox .title:after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1976D2);
  left: -20px;
  top: 18px;
}

.loginPage .loginBox .title:after {
  left: auto;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1976D2);
  right: -20px;
}
